* {
    border: 5px solid red;
    margin: 5px;
}

.header {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.description {
    background-color: #1F2937;
}

.secondary-txt, .header-txt {
    font-size: 18px;
    color: #E5E7EB;
}

.header-txt a {
    text-decoration: none;
    color: #E5E7EB;
}

