* {
    border: 5px solid red;
    margin: 5px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    margin: 0;
    padding: 0;
    color:#F9FAF8;
    font-size: 24px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.description, .footer {
    background-color: #1F2937;
}

.secondary-txt, .footer, .header-txt a {
    font-size: 18px;
    color: #E5E7EB;
}


.footer {
    font-size: 14px;
    padding: 14px;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.description {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 80px;
}

button {
    background-color: #3882F6;
    padding-left: 20px;
    padding-right: 20px;
}


.secondary-txt {
    max-width: 400px;
    max-height: 300px;
}

img {
    max-height: 250px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    background-color: white;
}

.illustration-header{
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
}

.illustrations{
    display: flex;
    justify-content: center;
    background-color: white;
}

.illustration {
    max-width: 160px;
    padding-bottom: 40px;
}

.quote {
    display: flex;
    width: 800px;
    font-style: italic;
    color: #1F2937;
    flex-direction: column;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
}


.author {
    display: flex;
    justify-content: right;
    font-weight: bold;
    padding-bottom: 40px;
}

.website {
    display: flex;
    flex-direction: column;
}